.staffWrapper {
  display: flex;
  padding-top: 50px;
}

.poster {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.staffDescription {
  display: flex;
  flex-direction: column;
}

.personDescriprion {
  margin-bottom: 20px;
}

.title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #00838f;
}

.subtitle {
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #A5A5A5;
  margin-top: 0;
  margin-bottom: 50px;
}

.aboutPerson {
  margin-bottom: 50px;
}