.filmWrapper {
  display: flex;
  padding-top: 50px;
}

.poster {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.filmText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filmTitle {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #00838f;
}

.filmSibtitle {
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #A5A5A5;
  margin-top: 0;
  margin-bottom: 50px;
}

.filmSibtitle p {
  margin-top: 0;
  margin-bottom: 0;
}

.filmDescripton {
  font-size: 14px;
  line-height: 150%;
  max-width: 514px;
  margin-bottom: 50px;
}

.aboutFilm {
  margin-bottom: 50px;
}

.aboutFilm p {
  margin-bottom: 10px;
}

.aboutText {
  display: block;
  flex-wrap: nowrap;
  margin-bottom: 3px;
}

.genres {
  text-transform: lowercase;
}

.relatedMovie {
  color: #00838f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  font-size: calc(18px + 5 *((100vw - 320px) / (1280 - 320)));
  padding-top: 70px;
}

.relatedMovie a:hover {
  color: #00838f;
  border-bottom: 1px solid  #00838f;
  ;
}