.card {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  flex-basis: 100%;
}

@media(min-width: 768px) {
  .card {
    flex-basis: calc((100% / 2) - 2rem);
  }
}

@media(min-width: 1200px) {
  .card {
    flex-basis: calc((100% / 3) - 2rem);
  }
}

.cardImage {
  width: 100px !important;
  height: 100px !important;
  object-fit: cover;
  border-radius: 50%;
}

.cardWrapper {
  margin-left: 20px;
}

.cardWrapper h4 {
  font-size: 1rem;
  margin-bottom: 5px;
  color: black;
}

.cardName {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  color: #00838f;
  margin-bottom: 15px;
}