@import "bootstrap/scss/bootstrap";

@font-face {
	font-family: "Museo Sans";
	src: url("src/assets/fonts/MuseoSansCyrl-500.woff2") format("woff2"),
		url("src/assets/fonts/MuseoSansCyrl-500.woff") format("woff");
	font-weight: 500;
}

@font-face {
	font-family: "Museo Sans";
	src: url("src/assets/fonts/MuseoSansCyrl-700.woff2") format("woff2"),
		url("src/assets/fonts/MuseoSansCyrl-700.woff") format("woff");
	font-weight: 700;
}

@font-face {
	font-family: "Museo Sans";
	src: url("src/assets/fonts/MuseoSansCyrl-900.woff2") format("woff2"),
		url("src/assets/fonts/MuseoSansCyrl-900.woff") format("woff");
	font-weight: 900;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: rgb(255, 255, 255);
	font-family: Museo Sans, Arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: black;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}

.spinnerWrapper {
	margin: 0 auto;
	max-width: 100px;
	min-height: 150px;
	margin-top: 150px;
}

.tvShows__head {
	margin: 50px;
	text-transform: uppercase;
	text-align: center;
	color: #00838f;
}

.tvShows__list {
	margin-top: 60px;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, 185px);
	grid-gap: 1rem;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.delete {
	display: none;
}

.loadMore_btn {
	border: 1px solid #00838f;
	background-color: transparent;
	color: #00838f;
	text-transform: uppercase;
	font-weight: bold;
	padding: 8px 55px;
	border-radius: 8px;
}

.button-wrapper {
	margin: 30px;
	display: flex;
	justify-content: center;
	width: 100%;
}
.footer{
	color: gray;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 30px;
}